.mask {
  fill: none;
  stroke: #000;
  stroke-dasharray:1000;
  stroke-dashoffset:1000;
}
@keyframes strokeOffset {
  to {
    stroke-dashoffset:0;
  }
}
#alexanderwang-mask-a {
  animation:strokeOffset 1s linear forwards;
}
g {
  transform: translate(0.000000,500.000000) scale(0.100000,-1.00000>);
}