* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("Pos.Neg-1.jpg");
}

/* Style the header */
header {
  background-color: rbga(106, 90,205, 50%);
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 30%;
  height: 300px; /* only for demonstration, should be removed */
  background: rgba(176, 244, 230, 30%);
  opacity: 0.3;
  padding: 20px;
  color: white;
  opacity: 1.0;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: rgba(250, 235, 215, 30%);
  height: 300px;
  color: white /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: rgba(255, 192, 203, 30%);
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
      a:link {
        color: palevioletred;
        background-color: transparent;
        text-decoration: none;
      }
      a:visited {
        color: peru;
        background-color: transparent;
        text-decoration: none;
      }
      a:hover {
        color: green;
        background-color: transparent;
        text-decoration: underline;
      }
      a:active {
        color: pink;
        background-color: transparent;
        text-decoration: underline;
      }
   .quote {
    background-color: rgba(255,227,202,93%);
    color: black;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;